
<!DOCTYPE html>
<html>
  <head>
    <title>Movie List</title>
  </head>
  <body>
    <h1>Movie List</h1>
    <ul>
      {{#each movies}}
        <li>
          <h2>{{Title}}</h2>
          <p><strong>Genre:</strong> {{Genre}}</p>
          <img src="{{Poster}}" alt="{{Title}} poster">
          <p><strong>Sentiment:</strong> {{Sentiment}}</p>
        </li>
      {{/each}}
    </ul>
  </body>
</html>
